In [9]:
#Run this first before proceeding, this allows you to read the file and save it to a variable
import pandas as pd
#change file path to wherever you have the files
path = r'/Users/benrivera/Desktop/Test/HRTest.csv'
HR_Test= pd.read_csv(path)
path2 = r'/Users/benrivera/Desktop/Test/PWTest.csv'
PW_Test = pd.read_csv(path2)

    Weights Upper Body

        Push

In [14]:
#Creats a filter to only show workouts labeld as "Weights: Push"
WPU = HR_Test.loc[HR_Test['Type']=='Weights: Push']
#resets the index
WPU = WPU.reset_index(drop=True)
#set the index
#WPU = WPU.set_index('Count')
#drop the columns that are not necessary
WPU = WPU.drop(['Workout', 'Date', 'Type', "Time (min)"], axis=1)

WPU

    Average Heart Rate (bpm)  Peak Heart Rate  Count
0                        118              167      1
1                        102              124      2
2                        100              137      3
3                        107              132      4
4                         99              127      5
5                         99              133      6
6                        103              131      7
7                         99              127      8
8                        110              141      9
9                        109              143     10
10                       102              130     11
11                       108              133     12
12                       114              140     13
13                       110              133     14

In [15]:
#dependencies for the model
import pandas as pd
import seaborn as Snapshot
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [19]:
train = WPU.drop(['Average Heart Rate (bpm)'], axis=1)

test = WPU['Average Heart Rate (bpm)']
train

    Peak Heart Rate  Count
0               167      1
1               124      2
2               137      3
3               132      4
4               127      5
5               133      6
6               131      7
7               127      8
8               141      9
9               143     10
10              130     11
11              133     12
12              140     13
13              133     14

In [67]:

train = WPU.drop(['Average Heart Rate (bpm)'], axis=1)
#Sets what is being predicted
test = WPU['Average Heart Rate (bpm)']
#splits data
X_train, X_test, y_train, y_test = train_test_split(train, test, test_size =.25, random_state = 2)

regr = LinearRegression()

regr.fit(X_train, y_train)

pred = regr.predict(X_test)
pred

array([107.2389597 , 101.24415591, 104.21214565, 115.64975143])

In [68]:
#shows the accuracy of the predition model
regr.score(X_test, y_test)

0.8442863871764705

In [ ]:
import numpy as np

#finds the standard deviation of heart rates
stdWPU= np.std(WPU["Average Heart Rate (bpm)"])
#plan to remove the ones that don't might be outliers

stdWPU

5.836199490232999

In [ ]:
#Allows us to see evaluate the average hearts rate of push workouts by filtering only those types
WPU = HR_Test.loc[HR_Test['Type']=='Weights: Push']
#resets the index
WPU = WPU.reset_index(drop=True)
WPU = WPU.set_index('Workout')
#Allows us to put Date into the correlation function
WPU['Date']=WPU['Date'].astype('category').cat.codes
#Finds the correlation between Average Heart Rate over multiple workouts, 
WPU_Corr = WPU['Count'].corr(WPU['Average Heart Rate (bpm)'])
WPU_Corr = "{:.2f}".format(WPU_Corr)
print('The correlation of Average Heart Rate for pull weights over multiple workouts is ' + str(WPU_Corr))

The correlation of Average Heart Rate for pull weights over multiple workouts is 0.22

        Pull

In [ ]:
#Creats a filter to only show workouts labeld as "Weights: Pull"
WPL = HR_Test.loc[HR_Test['Type']=='Weights: Pull']
#resets the index
WPL = WPL.reset_index(drop=True)
#Drop unessecary columns
WPL = WPL.drop(['Workout', 'Date', 'Type'], axis=1)
#Set the index to the count
WPL = WPL.set_index('Count')
WPL

       Average Heart Rate (bpm)  Peak Heart Rate  Time (min)
Count
1                           114              150          45
2                           105              134          40
3                           118              156          45
4                           120              152          40
5                           112              137          39
6                           111              131          35
7                           118              143          36
8                           106              130          38
9                           118              141          33

In [ ]:
#Allows us to see evaluate the average hearts rate of pull workouts by filtering only those types
WPL = HR_Test.loc[HR_Test['Type']=='Weights: Pull']
#resets the index
WPL = WPL.reset_index(drop=True)
WPL = WPL.set_index('Workout')
#Finds the correlation between Average Heart Rate over multiple workouts, 
WPL_Corr = WPL['Count'].corr(WPL['Average Heart Rate (bpm)'])
WPL_Corr = "{:.2f}".format(WPL_Corr )
print('The correlation of Average Heart Rate for pull weights over multiple workouts is ' + str(WPL_Corr))

The correlation of Average Heart Rate for pull weights over multiple workouts is 0.08

    Weigths: Lower Body

In [ ]:
WLB = HR_Test.loc[HR_Test['Type']=='Weights: Legs']
#resets index
WLB = WLB.reset_index(drop=True)
#Drop unessecary columns
WLB = WLB.drop(['Workout', 'Date', 'Type'], axis=1)
#Set the index to the count
WLB = WLB.set_index('Count')

WLB

       Average Heart Rate (bpm)  Time (min)
Count
1                           134          45
2                           138          50
3                           124          35
4                           112          40
5                           135          30

In [ ]:
WLB = HR_Test.loc[HR_Test['Type']=='Weights: Legs']
#resets index
WLB = WLB.reset_index(drop=True)
WLB = WLB.set_index('Workout')
#Finds the correlation between Average Heart Rate over multiple workouts, 
WLB_Corr = WLB['Count'].corr(WLB['Average Heart Rate (bpm)'])
WLB_Corr = "{:.2f}".format(WLB_Corr )
print('The correlation of Average Heart Rate for leg weights over multiple workouts is ' + str(WLB_Corr))

    Cardio: Elliptical

In [ ]:
CE = HR_Test.loc[HR_Test['Type']=='Cardio: Elliptical']
#resets index
CE = CE.reset_index(drop=True)
#Drop unessecary columns
CE = CE.drop(['Workout', 'Date', 'Type'], axis=1)
#Set the index to the count
CE = CE.set_index('Count')
CE

       Average Heart Rate (bpm)  Time (min)
Count
1                           151          20
2                           150          30
3                           149          30
4                           144          30
5                           143          30

In [ ]:
CE = HR_Test.loc[HR_Test['Type']=='Cardio: Elliptical']
#resets index
CE = CE.reset_index(drop=True)
CE = CE.set_index('Workout')
#Finds the correlation between Average Heart Rate over multiple workouts, 
CE_Corr = CE['Count'].corr(CE['Average Heart Rate (bpm)'])
CE_Corr = "{:.2f}".format(CE_Corr )
print('The correlation of Average Heart Rate for elliptical over multiple workouts is ' + str(CE_Corr))

    Cardio: Treadmill

In [ ]:
CT = HR_Test.loc[HR_Test['Type']=='Cardio: Treadmill']
#resets index
CT = CT.reset_index(drop=True)
#Drop unessecary columns
CT = CT.drop(['Workout', 'Date', 'Type'], axis=1)
#Set the index to the count
CT = CT.set_index('Count')
CT

       Average Heart Rate (bpm)  Time (min)
Count
1                           136          25
2                           127          30
3                           134          30
4                           132          30
5                           128          30
6                           126          30

In [ ]:
CT = HR_Test.loc[HR_Test['Type']=='Cardio: Treadmill']
#resets index
CT = CT.reset_index(drop=True)
CT = CT.set_index('Workout')
#Finds the correlation between Average Heart Rate over multiple workouts, 
CT_Corr = CT['Count'].corr(CT['Average Heart Rate (bpm)'])
CT_Corr = "{:.2f}".format(CT_Corr)
print('The correlation of Average Heart Rate for treadmill over multiple workouts is ' + str(CT_Corr))

The correlation of Average Heart Rate for treadmill over multiple workouts is -0.64

Pre Workout Test

In [ ]:
PW_Test

In [ ]:
#Allows Strings to be read as integers
PW_Test['Pre Workout']=PW_Test['Pre Workout'].astype('category').cat.codes

PW_Test.corr()